# nvim
.config/nvim/.netrwhist

.DS_Store

# karabiner	
.config/karabiner/automatic_backups/

# direnv
.config/direnv/

# astropy
.config/astropy

# configstore
.config/configstore/

# dask
.config/dask/

# composer
.config/composer/

# other
.config/fish/completions/docker.fish
.config/gcloud/
.config/gh/
.config/uv/
